# https://shisho.dev/blog/posts/how-to-use-dockerignore/
# https://codefresh.io/blog/not-ignore-dockerignore-2

# If using Caddyfile to get certs
data

docker-compose*.yml

.git

**/*.py[cod]
**/__pycache__/
